In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.DataFrame(np.arange(12).reshape((3,4)),index=list('123'),columns=list('abcd'))
df

   a  b   c   d
1  0  1   2   3
2  4  5   6   7
3  8  9  10  11